<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header style="background-color:skyblue">
        <h1>
            this is header
        </h1>

    </header>
     
    <div>
        @RenderBody()
    </div>

        <footer style="background-color:deepskyblue">
        <h1>
            this is footer
        </h1>

    </footer>


</body>
</html>
